* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #9356DC;
    --main-bg-color: #FF79DA ;
    --filter-bg-color: #99E2D0;
}

body {
    display: flex;
    justify-content: center;

}

.main{
    margin-top: 50px;
    width: 70%;
    height: 500px;
    max-width: 1440px;
    box-sizing: border-box;
}

.class__visible{
    display: flex;
}

.class__invisible{
    display: none;
}
.main__title{
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 20px/50%;
    font-weight: bolder;
    border: 3px solid grey ;
}

.main__texts{
    width: 65%;
    height: 400px;
    align-content: center;
    
}
.main__text{
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    list-style-type: none;
    background-color: #3C4B77;
    color: white;
    padding: 15px;
    border-radius: 20px/50%;
    font-weight: bolder;
    border: 3px solid grey ;
    display: flex;
}

.text__image{

    padding: 20px;
    
}
.main__text--alerte{
    color: red;
}
.title__image{
    width: 100%;
}
.main__next{
    margin-top: 100px;
    width: 100px;
    height: 100px;
}
.main__text--align{
    display: flex;
}

.main__color{
    width: 150px;
    height: 30px;
    padding: 5px 0 0 10px;
}

.main__color--blue{
    background-color: var(--main-color);
}
.main__color--lightblue{
    background-color: var(--filter-bg-color);
}
.main__color--grey{
    background-color: var(--main-bg-color);
}
.main__card{
    height: 800px;
    padding: 30px;
    width: 90%;
    justify-content:space-between;
}
.main__textimg{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


a:visited{
    color:aquamarine;
}
a{
    color: white;
}
